@import '../../styles/common.scss';

.post-item {
  .user {
    width: 100%;
  }
  .action {
    width: 100%;
  }
  .tags {
    text-align: right;
    color: $primary-color;
    .tag {
      margin-left: 10px;
    }
  }
  .desc {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient:vertical;
  }
}
